body{
	 text-align: center;
	 background: rgba(102, 130, 130, 0.52) url(https://img2.goodfon.ru/wallpaper/nbig/2/99/tekstury-tekstura-texture-fon.jpg) fixed;
}

header{
	min-height: 100px;
	background-color: rgba(17, 70, 60, 0.82);	
	width: 100%;
	height: 80px;
}

footer{
	width: 100%;
	min-height: 30px;	
	background-color: rgba(17, 70, 60, 0.82);	
	color: #aaafb5;
}

nav{
	top: 100px;
	max-width: 960px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #7d9d8a;
	padding:10px;
}	

menu{
	display: flex;
}

#m1, #m2, #m3{
	flex: 1;
}

#logo {
	float:left; 
/*	margin-left: 18%; 
	margin-top: 1%;*/
	width:80px; 
	height:80px;
}

#golova{
	width:70%;
	margin-left: 20%;
	margin-right: 10%;
	color: #aaafb5;
	font-family: "Courier New", monotype;
	text-align:left;
}


.content{
	max-width: 960px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(199, 220, 227, 0.77);
	padding:10px;
	text-align: center;
}

table {
	width: 400px;
	height: 200px;
	margin: auto;
}
th {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: 4px double black;
}
td {
	text-align: center;
	border: 4px double black;
}
.chet{
	background-color: rgba(76, 139, 168, 0.79);
}
.nechet{
	background-color: rgba(37, 132, 110, 0.58);
}

#ssilk{
	text-align: left;
}

label{
	background: #55c2eb;
    background-image: linear-gradient(180deg,#55c2eb,#0072bd);
    border-radius: 40px;
    font-size: 16px;
    width: 200px;
    padding: 13px;
    display: inline-block;
    border-right: 0px solid rgba(18, 19, 18, 0.527);
    color: #fff;
    margin: 10px;
}

a{
	background: #55c2eb;
    background-image: linear-gradient(180deg,#55c2eb,#0072bd);
    border-radius: 40px;
    font-size: 16px;
    width: 200px;
    padding: 13px;
	border-right: 0px solid rgba(18, 19, 18, 0.527);
    color: #fff;
    margin: 10px;
}

#auth{
	position: absolute;
	right: 0;
}

p{
	margin-left: 5%;
	text-align:left;
}

#vhod{
	text-align: right;
  }